    </p>

    <h3>Download</h3>
    <span class="dl">Formats:</span>
    <ul>
      <li><a href="coope.pdf">PDF</a></li>
      <li><a href="coope.dvi">DVI</a></li>
    </ul>
    <br clear="both" />
    <span class="dl">Sources (L<sup>A</sup>T<sub>E</sub>X):</span>
    <ul>
      <li><a href="https://gitorious.org/easejs/coope">Gitorious</a></li>
      <li><a href="https://github.com/mikegerwitz/coope">GitHub</a></li>
    </ul>

    <h3>Author</h3>
    <p>Mike Gerwitz is a free software hacker with a focus on web
    development.</p>
    <p><a href="http://mikegerwitz.com">http://mikegerwitz.com</a></p>

    <h3>See Also</h3>
    <p>
      This paper is based on the author's work with <a
      href="http://easejs.org/">ease.js</a>, a Classical Object-Oriented
      framework for JavaScript.
    </p>
  </body>
</html>
